<div class="footer-con">
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
    </ul>
    <div class="footer-con-header">
      <div class="footer-tx2-bound">
        <div class = "footer-copyright text-center py-3 ">© 2020 BetaMap:
          <strong>RoR</strong><br>
          <p class="github-link">Знайдіть нас на GitHub:</p>
          <a href="https://github.com/Zippi01/Analyzer-GHD">
            <i class = "fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
</div>
