<div class="area">
    <p id="notice" class="alert "><%= notice %></p>
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
    </ul>
    <div class="container_1">
      <div class="main">
        <div class="main1">
          <div class="circle"></div>
        </div>
      </div>
      <div class="landing-btn position1">
        <%= link_to "Карта", new_place_path, class:"landing-btn"%>
      </div>
    </div>
</div >
<div class="landing-con-contribute">
  <div class="content-con-outside">
    <div class="content-con-inside">
      <div class="map-con-container">
        <div class="map-con-logo">
          <div>
            <%= image_tag("https://i.imgur.com/8Fy6p9k.png", class: "map-img-logo") %>
          </div>
        </div>
        <div class="map-con-mantra">
          <div class="map-wrp-mantra" >
            <div class="map-tx1-mantra">
              <h2>Ласкаво просимо на проекті BetaMap!</h2>
            </div>
            <div class="map-tx2-mantra">
              <p>Цей проект був створений для того, щоб ви могли швидко вибрати заклад в якому провести час, купити продукти, електроніку, в яку аптеку краще сходити. Щоб це зробити вам потрібно обрати точку на карті, також ви можете вибирати радіус пошуку та категорію. Усі результати відправляються на вашу електрону адресу, яку ви вказуєте при реєстрації на сайті. Запити опроблюються по черзі. Якщо виникли запитання можете звернутина на електрону адресу - <b>testdiploma98@gmail.com</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
