<p>Привіт <%= @resource.email %>!</p>

<p>Для відновлення паролю натисніть на посилання.</p>

<p><%= link_to 'Змінити пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо ви цього не робили, проігноруйте цей електронний лист.</p>
