<div class="header-con-head">
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
    </ul>
    <div class="header-tx1-body fade-up-onstart", style="display: block;">
      <h1>Знайдіть місце, що може вас зацікавити</h1>
    </div>
    <div class="header-tx2-body fade-up-onstart", style="display: block;">
      <p>Поставте маркер на карті!</p>
    </div>
</div>

<%= render 'form', place: @place %>
